@keyframes buttonClick {
    from {
        box-shadow: 0 0 4px 0 #404040;
        transform: translateY(0);
    }
    to {
        box-shadow: 0 0 2px 0 #404040 inset;
        transform: translateY(1px);
    }
}