.dateInput-header-container {
    user-select: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dateInput-header-year {
    user-select: none;
    font-size: 16px;
    margin: 16px;
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.dateInput-header-date {
    user-select: none;
    font-size: 26px;
    letter-spacing: 0.6px;
    width: 100%;
    margin: 0 16px 16px 16px;
    display: flex;
}

.dateInput-viewedMonth-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 12px 0;
}

.dateInput-viewedMonth-day-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.dateInput-viewedMonth-day-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.dateInput-viewedMonth-day {
    user-select: none;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
}

.dateInput-viewedMonth-day_hover {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.6);
    transition: 0.2s;
}

.dateInput-viewedMonth-day:hover > .dateInput-viewedMonth-day_hover {
    transform: scale(1);
    opacity: 0.5;
}

.dateInput-viewedMonth-arrow {
    height: 16px;
    width: 16px;
    user-select: none;
    cursor: pointer;
}

.dateInput-viewedMonth-day_selected {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    animation: dateInput_pick 0.2s;
}

@keyframes dateInput_pick {
    from {
        transform: scale(0.6);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
