.textArea {
    align-self: flex-start;
    resize: none;
    border: none;
    box-shadow: 0 0 4px 0 #202020;
    font-size: 14px;
    padding: 6px;
    border-radius: 8px;
    transition: box-shadow 0.1s linear;
}

.textArea:focus {
    outline: 0;
    box-shadow: 0 0 6px 1.5px #00b0ff;
}