.floatingTextArea {
    position: relative;
    border: 0;
    border-bottom: 2px solid #DBD7C9;
    font-size: 16px;
    resize: none;
    background: transparent;
}

.floatingTextArea[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.floatingTextArea:focus {
    outline: 0;
}

.floatingTextArea-container {
    position: relative;
    padding: 24px 0 0 0;
    display: inline-flex;
    flex-direction: column;
}

.floatingTextArea-label_focused {
    transform: translateY(-100%);
    font-size: 12px;
}

.floatingTextArea-label {
    position: absolute;
    user-select: none;
    padding-left: 1.5px;
    color: #757575;
    transition: 0.3s ease-in-out;
    z-index: 2;
    pointer-events: none;
}

.floatingTextArea-border {
    transform: scaleX(0) translateY(-2px);
    border-bottom: 2px solid #00b0ff;
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.floatingTextArea:focus + .floatingTextArea-border {
    transform: scaleX(1) translateY(-2px);
}

.floatingTextArea-error {
    position: absolute;
    font-size: 12px;
    color: #FF443E;
}

.floatingTextArea-label_error {
    color: #FF443E !important;
}

.floatingTextArea_error {
    border-bottom-color: #FF443E !important;
    z-index: 1;
}