.floatingTextInput {
    position: relative;
    border: 0;
    border-bottom: 2px solid #DBD7C9;
    font-size: 16px;
    background: transparent;
}

.floatingTextInput:focus {
    outline: 0;
}

.floatingTextInput-container {
    align-self: flex-start;
    padding: 24px 0 0 0;
}

.floatingTextInput-container[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.floatingTextInput[disabled] {
    pointer-events: none;
}

.floatingTextInput-label_focused {
    color: #00b0ff !important;
    transform: translateY(-100%);
    font-size: 12px;
}

.floatingTextInput-label {
    position: absolute;
    user-select: none;
    padding-left: 1.5px;
    color: #757575;
    transition: 0.3s ease-in-out;
    z-index: 2;
    pointer-events: none;
}

.floatingTextInput-border {
    transform: scaleX(0) translateY(-2px);
    border-bottom: 2px solid #00b0ff;
    transition: transform 0.3s ease-in-out;
}

.floatingTextInput:focus + .floatingTextInput-border {
    transform: scaleX(1) translateY(-2px);
}

.floatingTextInput-error {
    position: absolute;
    font-size: 12px;
    color: #FF443E;
}

.floatingTextInput-label_error {
    color: #FF443E !important;
}

.floatingTextInput_error {
    border-bottom-color: #FF443E !important;
    z-index: 1;
}